<% if logged_in? %>
<%= @error %>
  <form action='/tweets' method="post">
    Content:
    <input type="text" name="content"><br>
    Create Your Tweet:

    <input type="submit" value="submit" id="submit">

    <input type="submit">

  </form>

<% else %>
    <h1> You must be logged in to make Tweets </h1>
<% end %>
    
  